html,body{
    margin: 0;
   
}
body{
    height: 100vh;
    width: 100vw;
}
section{
    height: 90vh;
    display: flex;

    flex-direction: column;  
    justify-content:center;
    padding-left: 5%;
    padding-right: 5%;
   

}
.section-title-present{


}
.title-projet{
    font-size: 3em;
}
p{
    font-size: 1.2em;
}
.ul-categorie{
    display: flex;
    justify-content: space-around;
   align-items: center;
    width: 100vw;
    padding: 0;
    list-style-type: none;
}
.li-categorie{
    opacity: 1;
}

img{
    height:50vh;
    width:20vw;
}
#categorie{
    height:25vh
}
.card-project-list{
    display:flex;
    
    width: 100vw;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
   
}
.card-project-column{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
   

}

.show-text-1,.show-text-2{
    opacity: 1;
}
