html,body{
    margin: 0;
   
}
body{
    height: 100vh;
    width: 100vw;
}
section{
    height: 90vh;
    display: flex;

    flex-direction: column;  
    justify-content:center;
    padding-left: 12%;
   

}
.ul-categorie{
    display: flex;
    justify-content: space-around;
   align-items: center;
    width: 100vw;
    padding: 0;
    list-style-type: none;
}

img{
    height:50vh;
    width:20vw;
}
#categorie{
    height:25vh
}
.card-project-list{
    display:flex;
    
    width: 100vw;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
   
}
.card-project-column{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
   

}
