/*img logo*/
.jappimg{
    padding-top: 2%;
    width: 20%;
    height: 50%;
}
/*footer*/
footer{
 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-top: 5%;
}
.a-footer{
    color: black;
    font-size: 1em;
}