/*img logo*/
.jappimg{
    padding-top: 2%;
    width: 20%;
    height: 50%;
}
/*footer*/
footer{
 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-top: 5%;
}
.a-footer{
    color: black;
    font-size: 1em;
}


@media screen and (min-width:300px) {
    footer{
        flex-direction: column;
        align-items: center;
    }
    footer >div >p,footer >div >h3{
        text-align: center;
    }
}