@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
@import url();
@font-face {
    font-family: Ultra;
    src: url("/font/Ultra.otf") 
    format("opentype");
}
@font-face {
    font-family: Ultra;
    font-weight: 900;
    src: url("/font/Ultra.otf")  format("opentype");
}
body{
    height: 100vh;
    background-color: black;
   
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.video-background{
  
    z-index: -1;
    position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100vw;
  min-height: 100vh;
  opacity: 0;
}

span{
    font-size: 5em;
    font-family: 'Patua One', cursive;
}
.menu-letter-hover{
    font-size: 1em;
}
#container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    opacity: 1;
 
}
.first-title{
    display: flex;
}
.title-1{
    color: red;
}
.title{
    color: red;
}
.second-title{
    background-color: red;
}
.circle{
    height: 10px;
    width: 10px;
    
    box-sizing: border-box;
   
    background-color: black;
    border: 1px solid red;
    border-radius: 50%;
    position: relative;
    left: 5px;
    top:50px
}

.langage-selection{
    color: white;
    text-align: center;
}

/*quote*/
h1{
    font-size: 3em;
    /*
    font-family: Ultra;
    font-weight: 1000;
*/
/*neon
    margin-bottom: 0;
    margin-top: 0;
    line-height: 1;
    text-decoration: none;
    color: #fff;
    animation: neon1 1.5s ease-in-out infinite alternate;
    */
}
/*
@keyframes neon1 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff1177,
        0 0 70px #ff1177, 0 0 80px #ff1177, 0 0 100px #ff1177, 0 0 150px #ff1177;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff1177,
        0 0 35px #ff1177, 0 0 40px #ff1177, 0 0 50px #ff1177, 0 0 75px #ff1177;
    }
  }
  */

 
  .main-title-container{
    padding-top: 20%;
    display: flex;
    flex-direction: row;

  }
  .main-title{
    /*gsap*/
    opacity: 1;
  }

/*logo*/
svg{
    height: 15vh;
    width: 15vw;
}
.logo{
    height: 10vh;
    width: 10vw;
    padding-top:2% ;
    padding-left: 2%;
}
  /*content*/
.content{
    margin: 0;
   
    color:white;
    display: none;
    min-height: 100vh;
    /*gsap*/
    opacity: 0;
}

.content-principal{
    
    
    font-size: 1.8em;
    display: flex;
justify-content: space-between;
flex-direction: column;
align-items: center;
height: 100vh;
text-align: center;

}


/*content change*/
.content-change,.content-change2{
    height:100vh;
    width:100vw;
    background-color:rgb(255, 253, 250);
    z-index: 10;
    position:fixed;
    display: none;
}
.content-change2{
    background-color: rgb(14, 17, 17);
}

/*content-about*/
.content-about{
    width:auto;
    height:auto;
   
    background-color: rgb(255, 253, 250);
    color: rgb(14, 17, 17);;
    display: none;
    padding-bottom: 15%;
    
}

.about{
    
    width:100vw;
    height:65vh;
    display: flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;
    background-color: rgb(255, 253, 250);
    color: rgb(14, 17, 17);;
}
.second-about{
    display: flex;
    flex-direction:column;
    align-items: center;
}
.about-title{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:10em;
    opacity:0;
    height: 100vh;
    width: 100vw;
    margin: 0;
}
.p-about{
    padding:0 10% 0 10%;
    font-size:1.5em
}
img{
    height:250px;
    width: 250px;
}
.btn-about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
}
.savoirplus-about{
    
    text-align: center;
}
.ligne,.ligne-blanc{
    width:115px;
    height:2px;
    background-color: black;
    position: relative;
    bottom:25%;
    
}
.ligne-blanc{
    background-color: #fff;
}
/*content services*/
.content-services{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    background-color:#131212;
    padding-bottom: 15%;
}
.service{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    padding-right: 10%;
    padding-left: 10%;
}
.img-services{
    height:50vh;
    width: 30vw;
}
.service-title{
    text-align: center;
    font-size:10em;
    
}
.service-title{
    margin-top: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.h2-service{
    font-size: 3em;
    padding-left: 30%;
    padding-right: 20%;}
.p-service{
    font-size: 1em;
    padding-left: 30%;
    
    
}
.p-service-2{
    font-size: 1em;
    padding-right: 30%;
}
.h2-service2{
   
    padding-left: 0;
    padding-right: 0;

}
.first-service,.second-service,.third-service{
    display: flex;
    justify-content:center;
    align-items:space-between;
    height: auto;
    padding-bottom: 25%;
}
.second-service{
    flex-direction: row-reverse;
}
.info-service{
    display: flex;
    flex-direction: column;
   width: 50%;
   
    


}
.info-service-2{
    display: flex;
    flex-direction: column;
    width: 50%;
    
    
}


.btn-about{
    display: flex;
    justify-content:center;
}
/*content project*/

.content-project{
    height: auto;
    width: auto;
    color: #131212;
}
.project-title{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    font-size:10em;
}
.img-project{
    height:40vh;
    width:35vw;
    border-radius:12%;
    border: 1px solid rgb(197, 84, 84);
}
.project{
    display: flex;
    justify-content:  space-around;
    align-items:center;
    height: 100vh;
    
}
.project-1{
    position: relative;
    top:150px;
    left:80px;
    z-index: -1;
}
.project-2{
    position: relative;
  
    right:80px;
   
}
.project-3{
    position: relative;
    bottom:100px;
    left:60px;
    z-index: 1;
}

/*content choose us*/

.choose-us-title{
    font-size:10em;
    text-align: center;
}
.content-choose-us{
    background-color: #141414;
    color:white;
    height: auto;
}
.choose-us-title{
    display:flex;
    justify-content:center;
    align-items:center;
    height: 100vh;
    margin-top: 0;
    margin-bottom:0;
    font-size:10em;
    text-align: center;
}
.choose-us-info-1,.choose-us-info-3,.choose-us-info-5{
    height: 100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
}
.choose-us-info-5{
    height: 100vh;
}
.final-title{
    font-size:4em;
    text-align: center;
}
.choose-us-info-2,.choose-us-info-4{
    height: 100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: row;
}
.choose-us-info-2 > div,.choose-us-info-4 > div{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}

.choose-us-h2{
    font-size:2em
}
.choose-us-p{
    font-size: 1em;
    padding-left: 25%;
    padding-right: 25%;
}
.formulaire{
    display: flex;
    justify-content:center;
    align-items: center;
    height: 90vh;
    width: 100vw;
    
}

form{
    background-color: beige;
    color: #141414;
    height: 80%;
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
    

}
form>section{
    display: flex;
    flex-direction: column;
    align-items: center;
    
   
    width: 100%;
}
form>section>input{
    width: 90%;
 
   
    height: 2vh;
}
form>section>label{
    display: flex;
    align-items:flex-start;
    width:90%
}
form>h3{
    text-align: center;
    font-size:2em;
}
.project-detail{
    height: 20vh;
    width:90%
}
/*button form */
.btn-submit{
    padding-top: 2%;
}







/*gsap*/
/*navigation menu logo*/
.logo{
    opacity: 0;
}
.menu-titre{
    opacity: 0;
}


.arrowSetting{
    opacity: 0;
}
.scroll{
    opacity: 0;
}


/*scrool down to continue*/

.linee-vertical-setting{
    display: flex;
    justify-content: center;
    align-items: center;
}
.linee-vertical{
 
    
    width: 3px;
    height: 60px;
    background-color: #fff;
    margin: 0% 0% 0% 0%;
    
    
    
}

.arrow {
    border: solid white;
    border-width: 0 6px 6px 0;
    display: inline-block;
    padding: 3px;
   
  }
  .arrowSetting{
    margin: 0 0 0 0;
    position: relative;
    bottom: 24px;
    text-align: center;
    
  }
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  .scroll{
    margin-top: 0;
    font-size: .5em;
  }



 
  /**/
 
  @media screen and (max-width:1400px) {
    .main-title{
        font-size: 1.5em;
    }
    
    
  }
