@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

body,html{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

.about-us-title{
 padding-right: 5%;
 white-space: nowrap;
 user-select: none;
}

#content{
    width: 100vw;
    height: 100vh;
}

.about-us-title-container{
    position: relative;
    z-index: -5;
    display: flex;
    transform: rotate(-10deg);
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 80vh;
}

.about-us-title >h1{
    
    
    margin: 0;
    display: inline-block;
    font-size: 10em;
    padding-right: 2%;
  
}



/*logo text*/
/*
.logo-text{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 95%;

}
h1{
    font-size: 10em;
    font-family: 'Patua One', cursive;
}
span{
    font-size: 10em;
    font-family: 'Patua One', cursive;
}


.title{
    color: red;
}
.second-title{
    background-color: red;
}
*/
.scroll-down{
    height: 20vh;
    width: 97vw;
    display: flex;
    justify-content: end;
    align-items: center;
}
.ligne-vertical{
    height: 100%;
    width: 5px;
    background-color: black;
}
p{
    margin: 0;
    
}
.who-we-are-p{
    opacity: 0;/*gsap*/
}
.who-we-are-p,.card-service-p,.card-mission-p{
    margin:0;
    font-size: 1em;
   
}
.card-service-p{
    padding-right: 5%;
}
.who-we-are-h2,.who-we-are-h2-2,.our-mission-h2{
    font-size:5em;
    opacity:0; /*gsap*/
}

.who-we-are-content-1{
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    padding-left: 7%;
   
    
    padding-right: 7%
}

.who-we-are-content-2,.who-we-are-content-3{
    height: auto;
    display: flex;
    flex-direction: column;
    padding-left: 7%;
    
    padding-right: 7%
}
.card-service-list,.card-mission-list{
    display: flex;
    flex-wrap: wrap;
    width: 90vw;
}
.card-service,.card-service-1,.card-mission,.card-mission-1,.card-mission-1-first,.card-mission-first{
    height:50vh;
    width:25vw;
    opacity : 0/*gsap*/
}
.card-service-title,.card-mission-title{
    font-size: 1.5em;
}
/*mission specific*/

.our-mission-h2{
    opacity: 0; /*gsap*/
}

.our-mission-h2,.card-mission-p,.card-mission-title{
    text-align: right
}
.our-mission-h2{
    padding-right: 6%;
}
.go-down{
    position: relative;
    top: 25vh
}
.go-up{
    position: relative;
    bottom: 25vh;
}


/*img mission*/
.img-mission-container{
    display: flex;
    justify-content:center;
    height: 40vh;
    
}
.img-mission{
    height: 100%;
    width: 50%
}

@media screen and (min-width:300px){
    


    .about-us-title-container{
        position: relative;
        z-index: -5;
        display: flex;
        transform: rotate(-10deg);
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 80vh;
    }
    
    .about-us-title >h1{
        
        
        margin: 0;
        display: inline-block;
        font-size: 10em;
        padding-right: 2%;
      
    }
    
    
    
    /*logo text*/
    /*
    .logo-text{
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        bottom: 95%;
    
    }
    h1{
        font-size: 10em;
        font-family: 'Patua One', cursive;
    }
    span{
        font-size: 10em;
        font-family: 'Patua One', cursive;
    }
    
    
    .title{
        color: red;
    }
    .second-title{
        background-color: red;
    }
    */
    .scroll-down{
        height: 20vh;
        width: 97vw;
        display: flex;
        justify-content: end;
        align-items: center;
    }
    .ligne-vertical{
        height: 100%;
        width: 5px;
        background-color: black;
    }
    p{
    
        margin: 0;
        
    }
    .who-we-are-p{
        opacity: 0;/*gsap*/
    }
    .who-we-are-p,.card-service-p,.card-mission-p{
        margin:0;
        font-size: 2em;
        width: 80vw;
    }
 
    .who-we-are-h2,.who-we-are-h2-2,.our-mission-h2{
        font-size:3em;
        opacity:0; /*gsap*/
    }
    
    .who-we-are-content-1{
        height:auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        padding-left: 7%;
       
        
        padding-right: 7%;
     padding-bottom:7%;
    }
    
    .who-we-are-content-2,.who-we-are-content-3{
        height: auto;
        display: flex;
        flex-direction: column;
        padding-left: 7%;
        
        padding-right: 7%
    }
    .card-service-list,.card-mission-list{
        display: flex;
        flex-wrap: wrap;
        width: 90vw;
        flex-direction: column;
        
    }
  
    .card-service,.card-service-1,.card-mission,.card-mission-1,.card-mission-1-first,.card-mission-first{
        height:auto;
        width:25vw;
        opacity : 0/*gsap*/
    }
    .card-service-1,.card-service{
        height: auto;
    }
    .card-service-title,.card-mission-title{
        font-size: 2.5em;
    }
    /*mission specific*/
    .our-mission-h2{
        opacity: 0; /*gsap*/
    }
    .our-mission-h2,.card-mission-p,.card-mission-title{
        text-align: right
    }
    .card-mission-title{
        width: 80vw;
    }
    .our-mission-h2{
        padding-right: 6%;
    }
    .go-down{
        position: relative;
        top: 0vh
    }
    .go-up{
        position: relative;
        bottom: 0vh;
    }
    
    
    /*img mission*/
    .img-mission-container{
        display: flex;
        justify-content:center;
        height: 40vh;
        
    }
    .img-mission{
        height: 100%;
        width: 50%
    }
}

@media screen and (min-width:800px){
    


    .about-us-title-container{
        position: relative;
        z-index: -5;
        display: flex;
        transform: rotate(-10deg);
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 80vh;
    }
    
    .about-us-title >h1{
        
        
        margin: 0;
        display: inline-block;
        font-size: 10em;
        padding-right: 2%;
      
    }
    
    
    
    /*logo text*/
    /*
    .logo-text{
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        bottom: 95%;
    
    }
    h1{
        font-size: 10em;
        font-family: 'Patua One', cursive;
    }
    span{
        font-size: 10em;
        font-family: 'Patua One', cursive;
    }
    
    
    .title{
        color: red;
    }
    .second-title{
        background-color: red;
    }
    */
    .scroll-down{
        height: 20vh;
        width: 97vw;
        display: flex;
        justify-content: end;
        align-items: center;
    }
    .ligne-vertical{
        height: 100%;
        width: 5px;
        background-color: black;
    }
    p{
    
        margin: 0;
        
    }
    .who-we-are-p{
        opacity: 0;/*gsap*/
    }
    .who-we-are-p,.card-service-p,.card-mission-p{
        margin:0;
        font-size: 2em;
        width: 80vw;
    }
 
    .who-we-are-h2,.who-we-are-h2-2,.our-mission-h2{
        font-size:7em;
        opacity:0; /*gsap*/
    }
    
    .who-we-are-content-1{
        height:auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        padding-left: 7%;
       
        
        padding-right: 7%;
     padding-bottom:7%;
    }
    
    .who-we-are-content-2,.who-we-are-content-3{
        height: auto;
        display: flex;
        flex-direction: column;
        padding-left: 7%;
        
        padding-right: 7%
    }
    .card-service-list,.card-mission-list{
        display: flex;
        flex-wrap: wrap;
        width: 90vw;
        flex-direction: column;
        
    }
  
    .card-service,.card-service-1,.card-mission,.card-mission-1,.card-mission-1-first,.card-mission-first{
        height:auto;
        width:25vw;
        opacity : 0/*gsap*/
    }
    .card-service-1,.card-service{
        height: auto;
    }
    .card-service-title,.card-mission-title{
        font-size: 2.5em;
    }
    /*mission specific*/
    .our-mission-h2{
        opacity: 0; /*gsap*/
    }
    .our-mission-h2,.card-mission-p,.card-mission-title{
        text-align: right
    }
    .card-mission-title{
        width: 80vw;
    }
    .our-mission-h2{
        padding-right: 6%;
    }
    .go-down{
        position: relative;
        top: 0vh
    }
    .go-up{
        position: relative;
        bottom: 0vh;
    }
    
    
    /*img mission*/
    .img-mission-container{
        display: flex;
        justify-content:center;
        height: 40vh;
        
    }
    .img-mission{
        height: 100%;
        width: 50%
    }
    }

@media screen and (min-width:1000px){



.about-us-title-container{
    position: relative;
    z-index: -5;
    display: flex;
    transform: rotate(-10deg);
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 80vh;
}

.about-us-title >h1{
    
    
    margin: 0;
    display: inline-block;
    font-size: 10em;
    padding-right: 2%;
  
}



/*logo text*/
/*
.logo-text{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 95%;

}
h1{
    font-size: 10em;
    font-family: 'Patua One', cursive;
}
span{
    font-size: 10em;
    font-family: 'Patua One', cursive;
}


.title{
    color: red;
}
.second-title{
    background-color: red;
}
*/
.scroll-down{
    height: 20vh;
    width: 97vw;
    display: flex;
    justify-content: end;
    align-items: center;
}
.ligne-vertical{
    height: 100%;
    width: 5px;
    background-color: black;
}
p{

    margin: 0;
    
}
.who-we-are-p{
    opacity: 0;/*gsap*/
}
.who-we-are-p,.card-service-p,.card-mission-p{
    margin:0;
    font-size: 2em;
}
.who-we-are-h2,.who-we-are-h2-2,.our-mission-h2{
    font-size:9em;
    opacity:0; /*gsap*/
}

.who-we-are-content-1{
    height:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    padding-left: 7%;
   
    
    padding-right: 7%
}

.who-we-are-content-2,.who-we-are-content-3{
    height: auto;
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    
    padding-right: 5%
}
.card-service-list,.card-mission-list{
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    flex-direction: row;
}
.card-service,.card-service-1,.card-mission,.card-mission-1,.card-mission-1-first,.card-mission-first{
    height:auto;
    width:25vw;
    opacity : 0/*gsap*/
}
.card-service-title,.card-mission-title{
    font-size: 2.5em;
}
/*mission specific*/
.our-mission-h2{
    opacity: 0; /*gsap*/
}
.our-mission-h2,.card-mission-p,.card-mission-title{
    text-align: right
}
.our-mission-h2{
    padding-right: 6%;
}
.go-down{
    position: relative;
    top: 25vh
}
.go-up{
    position: relative;
    bottom: 25vh;
}


/*img mission*/
.img-mission-container{
    display: flex;
    justify-content:center;
    height: 40vh;
    
}
.img-mission{
    height: 100%;
    width: 50%
}

    
}
