@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

body,html{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

.about-us-title{
 padding-right: 5%;
 white-space: nowrap;
 user-select: none;
}

#content{
    width: 100vw;
    height: 100vh;
}

.about-us-title-container{
    position: relative;
    z-index: -5;
    display: flex;
    transform: rotate(-10deg);
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 80vh;
}

.about-us-title >h1{
    
    
    margin: 0;
    display: inline-block;
    font-size: 10em;
    padding-right: 2%;
  
}



/*logo text*/
/*
.logo-text{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 95%;

}
h1{
    font-size: 10em;
    font-family: 'Patua One', cursive;
}
span{
    font-size: 10em;
    font-family: 'Patua One', cursive;
}


.title{
    color: red;
}
.second-title{
    background-color: red;
}
*/
.scroll-down{
    height: 20vh;
    width: 97vw;
    display: flex;
    justify-content: end;
    align-items: center;
}
.ligne-vertical{
    height: 100%;
    width: 5px;
    background-color: black;
}
p{
    margin: 0;
    
}
.who-we-are-p,.card-service-p,.card-mission-p{
    margin:0;
    font-size: 1em;
}
.who-we-are-h2,.our-mission-h2{
    font-size:5em
}

.who-we-are-content-1{
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    padding-left: 10%;
   
    
    padding-right: 10%
}

.who-we-are-content-2,.who-we-are-content-3{
    height: auto;
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    
    padding-right: 10%
}
.card-service-list,.card-mission-list{
    display: flex;
    flex-wrap: wrap;
    width: 90vw;
}
.card-service,.card-mission{
    height:50vh;
    width:25vw
}
.card-service-title,.card-mission-title{
    font-size: 1.5em;
}
/*mission specific*/
.our-mission-h2,.card-mission-p,.card-mission-title{
    text-align: right
}
.our-mission-h2{
    padding-right: 6%;
}
.go-down{
    position: relative;
    top: 25vh
}
.go-up{
    position: relative;
    bottom: 25vh;
}


/*img mission*/
.img-mission-container{
    display: flex;
    justify-content:center;
    height: 40vh;
    
}
.img-mission{
    height: 100%;
    width: 50%
}
/*img logo*/
.jappimg{
    padding-top: 2%;
    width: 20%;
    height: 50%;
}
/*footer*/
footer{
 
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
}